@using CleanArchitecture.Domain.Models
@model Personal
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add", "Personal", FormMethod.Post))
{
    <br />
    <div class="form-group">
        @Html.Label("Kişi Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        @Html.Label("Kişi Soyadı")
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        <br />
        @Html.Label("Kişi Doğum Tarihi")
        @Html.TextBoxFor(x => x.BirthDay, new { @class = "form-control" })
        <br />
        @Html.Label("Kişi Maili")
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        <br />
        @*@Html.Label("Kişi Telefon Numarası")
            @Html.TextBoxFor(x => x.PhoneId, new { @class = "form-control" })
            <br />*@
        <button class="btn btn-primary">Ekle ve Kaydet</button>
    </div>
}